* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body {
    background-color: #B91450;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
/* fine common */

/* inizio form raccolta dati utente */
.box_titolo {
    width: 100%;
    text-align: center;
   
}
.titolo {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;   
}
.container_form {
    width: 70%;
    height: 250px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
}

.box_form {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    
}
.item {
    width: 300px;
    margin: 30px;
}
label {
    display: block;
    color: #B91450;
    padding: 10px;
    
}

/* fine form raccolta dati utente */

/* inizio box bottoni */

/* fine box bottoni */




/* inizio biglietto treno  */
.box {
   
    width: 100%;
    display: none;
}
.container_dati {
    width: 70%;
    height: 250px;
    background-color: white;
    margin: 0 auto;
}
.box_dati {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.dettaglio {
    padding: 20px;
    text-align: left;
}
.lista_dati {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.lista_dati li {
    height: 150px;
    text-align: left;
    padding: 10px;

}
.lista_dati h4 {
    margin-bottom: 50px;
}
.lista_dati li:first-child {
    background-color: gray;
}
#nome-passeggero{
    font-size: 20px;
    font-weight: 800;
    
}

/* fine biglietto treno  */

