* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
/* fine common */

/* inizio form raccolta dati utente */
/* fine form raccolta dati utente */

/* inizio biglietto treno  */
/* fine biglietto treno  */

/* inizio debug */
/* fine debug */